@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Six Caps:100,200,300,400,500,600,700');

/*Colors*/

.bg-dark {
    background-color: rgba(39, 42, 48, 1);
}

.bg-grey {
    background: rgb(24, 127, 126);
    background: linear-gradient(90deg, rgba(24, 127, 126, 0.95) 18%, rgba(63, 131, 176, 0.95) 46%, rgba(25, 56, 90, 0.95) 77%);
}

.bg-light {
    background-color: rgba(72, 63, 57, 0.5);

}

/*background*/

.border-dark {
    margin-top: 15px;
    border-width: 5px !important;
    border-bottom-style: solid;
    border-color: rgba(39, 42, 48, 1);
}

.border-light {
    margin-top: 15px;
    border-width: 2px !important;
    border-bottom-style: solid;
    border-color: rgba(39, 42, 48, 1) !important;
    border-radius: 3px;
}

.bgbody {
    background: url("notesBg.jpg");
    Margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

.catnote {
    background: url("catnote.jpg");
    width: 300px;
    height: 218px;
    background-position: center;
}

.navigationbackground {
    position: fixed;
    height: 100%;
    width: 100%;
}

.nav-item {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.btn {
    border-radius: 0;
    width: 250px;
    border-radius: 3px;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 2px 2px 4px #000000;
}

.btn-primary {
    background-color: #d68f35;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ffad44;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(243, 187, 116);
}

.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #d68f35;
    border-color: #d68f35;
}

.btn-secondary {
    background-color: #543c88;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #6a42bf;
}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgb(84, 60, 136);
}

.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #543c88;
}

.header {
    text-align: center;
    width: 80%;

}

.editableP {
    padding: 5;
    background-color: rgba(214, 226, 243, 1);
    display: inline-block;
    font-size: large;
    font-weight: 500;
    width: 90%;
}

.cont {
    background: rgb(236, 241, 252);
    background: linear-gradient(90deg, rgba(236, 241, 252, 0.9) 30%, rgba(63, 131, 176, 1) 100%);

}


.ul .li {
    list-style: none;
}

.checkbox {
    font-size: 28px;
    display: inline-block;
    transform: translate(0px,4px);
}

.fancytext {
    font-family: 'Alfa Slab One', cursive;
    color: #d68f35;
    text-shadow: 2px 2px 4px #000000;
}

.fancytextsm {
    font-family: 'Alfa Slab One', cursive;
    color: #543c88;
    text-shadow: 2px 2px 4px #000000;
}
